:root {
  --color1: rgb(239, 235, 226);
  --color2: black;
  --color3: rgb(215, 108, 109);
  --color4: rgb(239, 188, 102);
  //navBar//
  //fonts//
  --font-title: "Spectral", serif;
  --font-text: "Poppins", sans-serif;
}
